{% extends 'base.html' %}
{% block title %}Lista de Usuarios{% endblock %}
{% block content %}
<h1>Usuarios Registrados</h1>

<div>
    <ul>
        {% for usuario in usuarios %}
    
        <li>Nombre: {{ usuario.nombre }}</li>
        <li>Email: {{ usuario.email }}</li>
        <li>Fecha de Registro: {{ usuario.fecha_registro.strftime('%d/%m/%Y %H:%M') if usuario.fecha_registro else '—' }}</li>
        <li>N° de pedidos: {{ usuario.pedidos }}</li>
        <li>Actividad: {{usuario.activo}}</li>
        <li>Nº de pedidos: {{usuario.numero_pedidos}}</li>

        <br>
    
        {% endfor %}
    </ul>
</div>

{% endblock %}