{% extends 'base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h2>Productos en Inventario</h2>

<div>
    <ul>
        {% for producto in productos %}
        <li>ID: {{producto.id}}</li>
        <li>Nombre: {{ producto.nombre }}</li>
        <li>Precio: {{ producto.precio }}</li>
        <li>Stock: 
            {% if producto.stock == 0 %}
                <span>Agotado</span>
            {% else %}
                {{ producto.stock }}
            {% endif %}</li>
        <li>Categoría: {{ producto.categoria }}</li>
        </li>
        <li>Detalle: <a href="{{ url_for('detalle_producto', id_producto=producto._id) }}">Ver detalle</li>
        
        <br>
    
        {% endfor %}
    </ul>
</div>


{% endblock %}